<html>
<head>
	<meta charset ="utf-8">
	<title>Formulario en Html</title>

</head>
<body>
<h1>Inicie sesion</h1>

<p> usuario : 
	<input type="text" id ="texto_lineas"/> <br><br>
	contraseña : 
	<input type="text" id= "texto_contrasena"/><br><br>
	contraseña : <input type="button" value ="Enviar" id="B_enviar"/>

	</p>
<script type="text/javascript">
	

	var texto=document.getElementById('texto_lineas');

	var boton =document.getElementById('B_enviar');

	boton.addEventListener("click", Calcular);
	
	function Calcular () {
		if (texto_lineas="william") {
			if (texto_contrasena="Maplestory1") {
				alert("Ingresando a sistema");
				else  {
					
					alert("Error , contraseña errada");
				}
			}
			
			else  {
				alert("Error, usuario errado");
			}	
		}
	}
}


	</script>
</body>
</html>